
@font-face {font-family: "anticon";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome, firefox */
  url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg') format('svg'); /* iOS 4.1- */
}

.anticon {
  font-family:"anticon" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.anticon-erweima:before { content: "\a02a"; }

.anticon-xiahuaxian:before { content: "\a06e"; }

.anticon-guanzhuweixin:before { content: "\a039"; }

.anticon-menu-duanxin:before { content: "\a06b"; }

.anticon-music:before { content: "\a074"; }

.anticon-wxbmingxingdianpu:before { content: "\e626"; }

.anticon-qingxie:before { content: "\a06f"; }

.anticon-wenzishangduiqi:before { content: "\a090"; }

.anticon-wenzixiaduiqi:before { content: "\a091"; }

.anticon-wenziyouduiqi:before { content: "\a092"; }

.anticon-wenzizhongduiqishu:before { content: "\a093"; }

.anticon-wenzizuoduiqi:before { content: "\a094"; }

.anticon-wenzizhongduiqiheng:before { content: "\a095"; }

.anticon-jiacu:before { content: "\a070"; }

.anticon-home-dclyy:before { content: "\a019"; }

.anticon-home-hd:before { content: "\a018"; }

.anticon-home-ddhx:before { content: "\a017"; }

.anticon-home-xzyy:before { content: "\a016"; }

.anticon-menu-yyguanli:before { content: "\a015"; }

.anticon-home-kc:before { content: "\a014"; }

.anticon-home-wxyy:before { content: "\a013"; }

.anticon-home-jia:before { content: "\a012"; }

.anticon-home-dfbxy:before { content: "\a011"; }

.anticon-home-jrqd:before { content: "\a010"; }

.anticon-menu-zxb:before { content: "\a00f"; }

.anticon-menu-xygl:before { content: "\a00e"; }

.anticon-menu-class:before { content: "\a00d"; }

.anticon-home-yp:before { content: "\a00c"; }

.anticon-menu-pk:before { content: "\a00b"; }

.anticon-menu-yp:before { content: "\a00a"; }

.anticon-menu-cwgl:before { content: "\a009"; }

.anticon-menu-wxyy:before { content: "\a008"; }

.anticon-menu-jztz:before { content: "\a007"; }

.anticon-menu-tjbb:before { content: "\a006"; }

.anticon-menu-wgw:before { content: "\a005"; }

.anticon-menu-kb:before { content: "\a004"; }

.anticon-menu-kbyy:before { content: "\a003"; }

.anticon-menu-kcjs:before { content: "\a002"; }

.anticon-menu-kbyx:before { content: "\a001"; }

.anticon-zuoduiqi:before { content: "\a071"; }

.anticon-youduiqi:before { content: "\a072"; }

.anticon-juzhongduiqi:before { content: "\a073"; }

.anticon-left:before { content: "\a023"; }

.anticon-right:before { content: "\a022"; }

.anticon-i:before { content: "\a021"; }

.anticon-menu-home:before { content: "\a025"; }

.anticon-menu-wxyx:before { content: "\a026"; }

.anticon-menu-qdjl:before { content: "\a027"; }

.anticon-menu-kbj:before { content: "\a028"; }

.anticon-menu-xqsz:before { content: "\a029"; }

.anticon-menu-grsz:before { content: "\a02b"; }

.anticon-menu-xtsz:before { content: "\a02c"; }

.anticon-menu-xsxs:before { content: "\a02d"; }

.anticon-menu-qbxy:before { content: "\a02e"; }

.anticon-menu-gjjl:before { content: "\a02f"; }

.anticon-menu-xyjz:before { content: "\a031"; }

.anticon-menu-stjh:before { content: "\a032"; }

.anticon-menu-xsjh:before { content: "\a033"; }

.anticon-menu-xsdd:before { content: "\a034"; }

.anticon-menu-tkd:before { content: "\a035"; }

.anticon-menu-xscp:before { content: "\a036"; }

.anticon-home-xzxy:before { content: "\a037"; }

.anticon-home-gjjl:before { content: "\a038"; }

.anticon-home:before { content: "\a03a"; }

.anticon-change:before { content: "\a03b"; }

.anticon-phone:before { content: "\a03c"; }

.anticon-address:before { content: "\a03d"; }

.anticon-user:before { content: "\a03e"; }

.anticon-time:before { content: "\a041"; }

.anticon-arrow:before { content: "\a042"; }

.anticon-qingjia:before { content: "\a043"; }

.anticon-babyroom:before { content: "\a044"; }

.anticon-BigHandMirror:before { content: "\a045"; }

.anticon-coffee:before { content: "\a046"; }

.anticon-Computerscree:before { content: "\a047"; }

.anticon-Foodtraywithcover:before { content: "\a048"; }

.anticon-Firstaidhandbag:before { content: "\a049"; }

.anticon-heart:before { content: "\a04a"; }

.anticon-Insertmemorycard:before { content: "\a04b"; }

.anticon-Laptop:before { content: "\a04c"; }

.anticon-Monitor:before { content: "\a04d"; }

.anticon-Parkingsignfreeic:before { content: "\a04e"; }

.anticon-PublicPark:before { content: "\a04f"; }

.anticon-Stairsdown:before { content: "\a050"; }

.anticon-Search:before { content: "\a051"; }

.anticon-Toilet:before { content: "\a052"; }

.anticon-Shop:before { content: "\a053"; }

.anticon-Sofa:before { content: "\a054"; }

.anticon-transporttrain:before { content: "\a055"; }

.anticon-jia:before { content: "\a057"; }

.anticon-WI-FI:before { content: "\a056"; }

.anticon-daohang:before { content: "\a058"; }

.anticon-yuyue:before { content: "\a059"; }

.anticon-jigou:before { content: "\a06a"; }

.anticon-logo:before { content: "\a040"; }

.anticon-boy:before { content: "\a06c"; }

.anticon-girl:before { content: "\a06d"; }

.anticon-font-align-right:before { content: "\a080"; }

.anticon-font-align-center:before { content: "\a081"; }

.anticon-font-align-left:before { content: "\a082"; }

.anticon-font-align-center-v:before { content: "\a083"; }

.anticon-font-align-top:before { content: "\a084"; }

.anticon-font-align-bottom:before { content: "\a085"; }

.anticon-suo:before { content: "\a075"; }

.anticon-user1:before { content: "\a076"; }

.anticon-gjjl:before { content: "\a077"; }

.anticon-dfgl:before { content: "\a078"; }

.anticon-xxyygl:before { content: "\a079"; }

.anticon-hykgl:before { content: "\a07a"; }

.anticon-mdgj:before { content: "\a07b"; }

.anticon-jwgl:before { content: "\a07c"; }

.anticon-xpsz:before { content: "\a07d"; }

.anticon-ghsz:before { content: "\a07e"; }

.anticon-pay:before { content: "\a086"; }

.anticon-ssshichang:before { content: "\a087"; }

.anticon-sstanhao:before { content: "\a088"; }

.anticon-icon-jxp:before { content: "\a089"; }

.anticon-di:before { content: "\a096"; }

.anticon-left1:before { content: "\a097"; }

.anticon-right1:before { content: "\a098"; }

.anticon-chuizhi:before { content: "\a099"; }

.anticon-shuiping:before { content: "\a100"; }

.anticon-ding:before { content: "\a101"; }

